[build]
  command = "npm run build"
  publish = "dist"

[context.production.environment]
  VITE_API_BASE_URL = "http://13.201.4.174:5000"

[dev]
  command = "npm run dev"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true
